* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    padding: 20px;
    background-color: #f5f4f4;
    gap: 60px;
    margin-top: 100px;
}

ul {
    list-style: none;
    max-height: 40vh;
    overflow: auto;
    padding: 8px;
}

ul li {
    padding: 5px;
    background: #cecccc;
    margin: 5px 0;
    border: 1px solid gray;
}

.float-right {
    float: right !important
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 10px;
    max-width: fit-content;
    max-height: 400px;
    background-color: rgb(248, 241, 228);
    padding: 30px;
}

.my-form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(250, 162, 85);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: coral;
}

.appointments-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid black;
    padding-top: 28px;
}

.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.del {
    padding: 2px 8px;
    font-weight: bold;
    background-color: #e7e6e6;
    border: 2px solid red;
    border-radius: 5px;
    width: fit-content;
    margin-left: 10px;
    margin-top: -2px;
}

.del:hover {
    background-color: red;
    box-shadow: 1px 1px rgb(197, 0, 0);
    cursor: pointer;
    color: white;
}

.edit {
    padding: 2px 8px;
    font-weight: bold;
    background-color: #e7e6e6;
    border: 2px solid green;
    border-radius: 5px;
    width: fit-content;
    margin-left: 10px;
    margin-top: -2px;
}

.edit:hover {
    background-color: green;
    box-shadow: 2px 2px rgb(0, 82, 0);
    cursor: pointer;
}